/* Styl głównego kontenera */
.game5-container {

  background-color: var(--background-secondary-color);
  min-height: 60vh;
  max-width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  color: #fff;
  position: relative;
  margin: auto;
  padding: 40px 20px;
  box-sizing: border-box;
  border-radius: 30px;
}

/* Styl tekstu timera i komunikatu */
.game5-container p {
  font-size: 2rem;
  margin: 10px;
}

/* Timer (kiedy gra trwa) */
.game5-container p:first-of-type {
  font-size: 2.5rem;
  font-weight: bold;
  color: #062435;
}

/* Komunikat końcowy */
.game5-container p:last-of-type {
  font-size: 1.5rem;
  font-weight: bold;
  color: #b33f2f;
  margin-top: 20px;
}

/* Przycisk "KLIKNIJ!" */
.game5-container .start-button {
  background-color: #174b90;
  border: 2px solid #202934c4;
  padding: 15px 30px;
  font-size: 1rem;
  color: var(--text-secondary-color);
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 20px;
}




/* Dodatkowy licznik kliknięć */
.counter {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3498db;
  margin-top: 20px;
}

/* Styl dla najlepszy wynik - wyraźniejszy */
.game5-container p:first-of-type {
  font-size: 2rem;
  font-weight: bold;
  color: #ffd700; /* Złoty kolor dla najlepszego wyniku */
  margin-top: 20px;
}



/* Styl dla liczby kliknięć po zakończeniu gry */
.game5-container p:last-of-type {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4CAF50;
  margin-top: 20px;
}

.game5-container .reset-button{
  top: 50px;
  left: 300px;
}