# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/

# Local environment files
*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Android
.android/
*.keystore

# Bash history
.bash_history

# Cache files
.cache/
.config/
.configstore/

# Node.js specific
*.env
