.apps-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 20px;
}

.app-card {
  color: var(--text-secondary-color);
  background-color: var(--hover-primary-color);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 4px 5px rgba(0, 0, 0, 0.372);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.app-card:hover {
  transform: translateY(-10px);
  border-color: #007bff;
}

.app-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  max-height: 150px;
}

.app-card img:hover {
  transform: scale(1.05);
}

.app-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-secondary-color);
  margin: 10px 0;
  height: 20px;
  overflow: hidden;
}

.app-card p {
  font-size: 1rem;
  color: var(--text-secondary-color);
  margin-bottom: 15px;
  height: 30px;
  overflow: hidden;
}
