/* buttons.css */

@import './variables.css';

button {
  padding: 10px 20px;
  margin-top: 15px;
  font-size: 1rem;
  background-color: var(--background-secondary-color);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: var(--hover-primary-color);
}

button:active {
  transform: translateY(1px);
  box-shadow: var(--box-shadow-light);
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  box-shadow: none;
}

/* Responsywność */
@media (max-width: 768px) {
  button {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
  
  .start-button {
    font-size: 1.2rem;
    padding: 12px 25px;
  }
}

/* back-button.css */

@import './variables.css';

.back-button {
  position: fixed;
  top: 40px;
  right: 5px;
  background-color: var(--primary-color);
  color: var(--text-secondary-color);
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
  background-color: var(--hover-primary-color);
  transform: scale(1.05);
}

.back-button:active {
  transform: translateY(1px);
}

@media (max-width: 768px) {
  .back-button {
    top: 20px;
    right: 10px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .back-button {
    top: 20px;
    right: 10px;
    font-size: 0.8rem;
  }
}
