/* section.css */

section {
  padding: 20px;
  background-color: var(--section-backgroudcolor);
  border-radius: var(--border-radius);
  margin-bottom: 20px;
}

section.header {
  background-color: var(--primary-color);
  color: var(--text-secondary-color);
}

section.footer {
  background-color: var(--secondary-color);
  color: var(--text-primary-color);
}

/* Responsywność */
@media (max-width: 768px) {
  section {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  section {
    padding: 10px;
  }
}
