/* GraNaCzekanie4.css */

.game4-container {
  display: flex;
  background-color: var(--secondary-color);
  min-height: 70vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: auto;
  max-width: 60vw;
  border-radius: 30px;
}

.result {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
  height: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.result p {
  font-size: 1.2rem;
  margin: 0 0;
}

strong {
  font-weight: bold;
}

.result .win {
  color: #2ecc71;
}

.result .lose {
  color: #e74c3c;
}

.result .draw {
  color: #f39c12;
}

.result p:nth-child(1),
.result p:nth-child(2) {
  font-size: 1.2rem;
  color: #2c3e50;
}

.result p:nth-child(3) {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .game4-container {
    max-width: 80vw;
  }

  .result {
    width: 250px;
    height: 90px;
  }

  .result p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .game4-container {
    max-width: 90vw;
    padding: 60px;

    
  }

  .result {
    margin-top: 30px;
    width: 200px;
    height: 80px;
  }

  .result p {
    font-size: 0.9rem;
  }
}
