.header {
  display: flex;
  position: fixed;
  top: 0;
  background-color: var(--primary-color);
  color: var(--text-secondary-color);
  padding: 0.4rem 0;
  width: 100%;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.header-logo {
  color: var(--logo-color);
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 1;
}

.header-logo a {
  color: var(--logo-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.main-content {
  padding-top: 0;
  margin: 0;
  margin-bottom: 50px;
}

@media (max-width: 480px) {
  .header-logo {
    display: none !important;
  }
}


