.footer {
  background-color: var(--primary-color);
  color: var(--text-secondary-color);
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .footer {
    height: 50px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .footer {
    height: 60px;
    font-size: 14px;
    padding: 15px;
  }
}
