@import './variables.css'; 

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: var(--font-primary), sans-serif;
  background-color: var(--background-color);
  color: var(--text-primary-color);
  justify-content: center;
  align-items: center;
}

h1 {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1::after {
  content: "";
  display: block;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 3px;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  transform: scaleX(1);
  transform-origin: center;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-hover-color);
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  html, body {
    font-size: 14px;
  }

  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  html, body {
    margin: auto;
    font-size: 12px;
  }

  h1 {
    font-size:4rem;
  }

  h1 {
    margin: 1rem 0;
  }

  a {
    font-size: 0.9rem;
  }

  a {
    padding: 0.5rem;
  }
}
