:root {
  /* Kolory */
  --primary-color: #2c3e50;
  --secondary-color: #3a4f6b;
  --text-active-color: #17678a;
  --text-hover-color: #ffffff;
  --text-primary-color: #000000;
  --text-secondary-color: #ffffff;
  --section-background-color: rgb(202, 211, 211);
  --text-title-color: #2c3e50;

  --background-color: #ffffff;
  --background-secondary-color: #3a4f6b;
  --hover-primary-color: #476480;

  --dark-mode-button-color:#0000007d;;
  /* Kolor linków */
  --link-color: var(--primary-color); /* Kolor linku */
  
  /* Kolor logo */
  --logo-color: #ffffff;

  /* Dodatkowe kolory (np. dla cieni lub statusów) */
  --error-color: #e74c3c;
  --success-color: #2ecc71;
  --warning-color: #f39c12;

  /* Cienie */
  --box-shadow-light: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-medium: 0px 6px 12px rgba(0, 0, 0, 0.15);
  --box-shadow-heavy: 0px 10px 20px rgba(0, 0, 0, 0.2);
  
  --text-shadow-light: 1px 1px 3px rgba(0, 0, 0, 0.1);
  --text-shadow-medium: 2px 2px 4px rgba(0, 0, 0, 0.15);
  --text-shadow-heavy: 3px 3px 6px rgba(0, 0, 0, 0.2);

  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;




}


/*CIEMNY MOTYW/*/
:root.dark-theme {
  --primary-color: #1a252f;
  --secondary-color: #2c3e50;
  --background-color: #121212;
  --background-secondary-color: #abc1dc;
  --text-color: #e0e0e0;
  --text-primary-color: #C7D0D9;
  --text-secondary-color: #ffffff;
  --text-title-color: #5f7c99;
--dark-mode-button-color:#fafdff;;
--section-background-color: rgb(15, 16, 16);

}