@import '../../variables.css';

.portfolio {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.portfolio h1 {
   margin: auto;
    width: max-content;
    margin-bottom: 2rem;
    
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.portfolio-card {
    color: var(--text-secondary-color);
    background-color: var(--secondary-color); 
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 4px 5px rgba(0, 0, 0, 0.372);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: auto;
    border: 1px solid #ddd; 
    overflow: hidden; 
}

.portfolio-card:hover {
    transform: translateY(-5px);
    box-shadow: 4px 5px rgba(0, 0, 0, 0.372);
}

.portfolio-card h2 {
    color: var(--text-secondary-color);
    margin-bottom: 0.5rem;
}
.title{
    color: var(--text-title-color);
  }
