.gra-na-czekanie {
    position: relative;  /* Zapewnia, że wszystkie elementy wewnętrzne, jak animacje, będą odnosiły się do tej sekcji */
  }
  
 
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  button {
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #3498db;

    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
  }
  